/vendor/
/node_modules/
/.env
/.env.backup
/public/hot
/public/storage
/public/uploads
/storage/*.key
/storage/app/public/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
/database/*.sqlite
/database/*.sqlite-journal
.phpunit.result.cache
.DS_Store
Thumbs.db
